@import "@/assets/scss/base.scss";

.loading {
    display: inline-block;
}

.loading:after {
    content: " ";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-light:after {
    border: 2px solid $secondaryLight;
    border-color: $secondaryLight transparent $secondaryLight transparent;
}

.loading-dark {}