$RedDark: #ff453a;
$OrangeDark: #ff9f0a;
$YellowDark: #ffd60a;
$GreenDark: #30d158;
$MintDark: #63e6e2;
$TealDark: #40c8e0;
$CyanDark: #64d2ff;
$BlueDark: #0a84ff;
$IndigoDark: #5e5ce6;
$PurpleDark: #bf5af2;
$PinkDark: #ff375f;
$BrownDark: #ac8e68;

$Gray2Dark: #636366;
$Gray3Dark: #48484a;
$Gray4Dark: #3a3a3c;
$Gray5Dark: #2c2c2e;
$Gray6Dark: #1c1c1e;

$secondaryDark: rgba(255, 255, 255, 0.55)