$RedLight: #ff3b30;
$OrangeLight: #ff9500;
$Orange30Light: #FFDFB3;
$Orange20Light: #FFEACC;
$Orange10Light: #FFF4E6;
$YellowLight: #ffcc00;
$GreenLight: #34c759;
$Green10Light: #E8F9ED;
$MintLight: #00c7be;
$TealLight: #30b0c7;
$CyanLight: #32ade6;
$BlueLight: #007aff;
$Blue10Light: #E3F0FF;
$Blue20Light: #C6E1FF;
$IndigoLight: #5856d6;
$PurpleLight: #af52de;
$PinkLight: #ff2d55;
$BrownLight: #a2845e;

$Gray1Light: #8e8e93;
$Gray2Light: #aeaeb2;
$Gray3Light: #c7c7cc;
$Gray4Light: #d1d1d6;
$Gray5Light: #e5e5ea;
$Gray6Light: #f2f2f7;

$secondaryLight: rgba(130, 130, 130, 0.85)