@import "../base.scss";

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    .item {
        margin-top: 1.75rem;
    }
}

.register-light {}

.register-dark {}