@import "../base.scss";

.download-container {
    padding: 7.5rem 3rem 0 3rem;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: overlay;
    min-height: 100vh;

    font-family: "SF Pro Text Regular";

    .item {
        padding: 1rem;
        display: inline-block;
        width: 50%;

        .content {
            display: flex;
            flex-direction: column;
            min-height: 10rem;
            padding: 1.35rem 1.5rem 1.35rem 0;

            border: 0px solid;
            border-radius: 0.5rem;

            .title {
                font-size: 1.2rem;
            }

            .version {
                margin-bottom: 0.2rem;
                margin-left: 0.5rem;

                font-size: 0.8rem;
            }

            .description {
                margin-top: 0.5rem;

                font-size: 0.85rem;
            }

            .action {

                .changed-log {
                    margin-right: 1rem;

                    font-size: 0.85rem;

                    cursor: pointer;
                }

                .changed-log:hover {
                    opacity: 0.75;
                }

                display: flex;
                justify-content: flex-end;
                margin-top: 1.5rem;
            }
        }
    }
}

.download-container-light {
    color: black;

    .item {

        .content {
            background-color: $white;

            box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);

            .title {
                color: $black;
            }

            .version {
                color: $secondaryLight;
            }

            .description {
                color: $secondaryLight;
            }

            .action {

                .changed-log {
                    color: $secondaryLight;
                }
            }
        }
    }
}

.download-container-dark {
    color: #d0d2d6;

    .item {

        .content {
            background-color: $Gray5Dark;

            .title {
                color: $white;
            }

            .version {
                color: $secondaryDark;
            }

            .description {
                color: $secondaryDark;
            }

            .action {

                .changed-log {
                    color: $secondaryDark;
                }
            }
        }
    }
}